# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*log.txt
*.sublime-project
*.sublime-workspace
.vscode/
**/.vscode/
npm-debug.log*
**/npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/

**/.idea
**/.ionic/
**/.sourcemaps/
**/.sass-cache/
**/.tmp/
**/.versions/
**/coverage/
**/www/
**/dist/
**/node_modules/
**/tmp/
**/temp/
**/platforms/
**/plugins/

src/Config.ts
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
#package-lock.json
#package.json
#config.xml
*.gradle/
/dunlop-app.iml
dev.version
release.version
dev.version
release.version

