$bgGray: #F5F5F5;
$textbgGray: #FAF7F8;
$bgWhite: #ffffff;
$fontBlue: #157EFB;
$fontBlack: #333333;
$fontGray: #666666;
$fontWhite: #999999;
$edge: 0.3rem;
$bigNumberSize: 0.46rem;
$bigSize: 0.36rem;
$titleSize: 0.28rem;
$textSize: 0.26rem;
$smallSize: 0.24rem;
$titleHeight: 0.86rem;
$borderGray: #DBDBDB;
$breakLine: 0.08rem